body{
  padding: 0;
  margin: 0;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 1);
  font-family: Arial, Helvetica, sans-serif;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background: rgba(255,255,0,1);

}

h1 {
  width: 90%;
  margin: 0;
  padding: 1rem;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 1);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  font-weight: 100;
  font-style: italic;
}

h2{
  width: 100%;
  margin: 0;
  padding: 1rem 0 0.5rem 0.5rem;
  text-align: left;
  background: yellow;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h3{
  position: relative;
  width: 100%;
  text-align: left;
  padding: 0 0 0 1rem;
}

h4 {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 0 0 0 1rem;
}

.archiv{
  position: relative;
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffff00;
  margin: 0 0 2rem 0;
  text-decoration: none;
  color: black;
}

.archiv:hover{
  cursor: pointer;
  background: gold;
}

.archiv > h3{
  width: auto;
  text-decoration: none;
  padding: 0;
}

.noEntry{
  position: relative;
  width: 95%;
  text-align: center;
  box-shadow: 0px 0px 1px 0px black;
  margin: 0 0 2rem 0;
  padding: 1rem 0 1rem 0;
  background: #f5f5f5
}

@media screen and (max-aspect-ratio: 13/9){
  .desktop{
    display: none;
  }
}

@media screen and (min-aspect-ratio: 13/9){
  .mobile{
    display: none;
  }
}
