.nav {
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: 10vh;
}

@media only screen and (max-aspect-ratio: 13/9){
    .nav{
        display: none;
    }
}

.linkContainer {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 1rem;
}

.surLinkContainer {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.surLinkContainer:hover {
    cursor: pointer;
}

.subLinkContainer {
    position: absolute;
    top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background: rgba(0,0,0,1);
    padding: 0 0.5rem 0 0.5rem;
}

.link {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    margin: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link:hover{
    color: yellow;
}

.homeLink {
    margin: 1rem 0 1rem 0;
    background-image: url("/logo.gif");
    background-size: contain;
    height: 80%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
}

.sublink {
    color: white;
    width: 100%;
    font-size: 1rem;
    font-weight: normal;
    border-bottom: 1px solid yellow;
    padding: var(--defaultContainerPadding);
    text-decoration: none;
}

.sublink:last-child{
    border: none;
}

.sublink:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    color: yellow;
}