.nav{
    position: sticky;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 300;
    min-height: 10vh;
    flex-wrap: wrap;
}

.homeLink {
    background-image: url("/logo.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    position: absolute;
    top: 50%;
    left:5vh;
    transform: translateY(-50%);
    height: 80%;
    aspect-ratio: 1/1;
}

.menu{
    position: absolute;
    top: 2.5vh;
    right: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu:hover{
    cursor: pointer;
}

.linkContainer{
    position: relative;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 5vh 0 5vh 0;
}

.subLinkContainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 0 1rem;
}

.link{
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: 2px 2px black;
    width: 100%;
    border-bottom: 1px solid yellow;
    padding: 0.25rem 0 0.25rem 0;
    text-decoration: none;
}

.link:hover{
    cursor: pointer;
    background: rgba(255,255,255,0.1);
}