.container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    flex-wrap: wrap;
}

.inner{
    position: relative;
    display: flex;
    align-content: flex-start;
    width: 90%;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
}

.item{
    width: 100%;
    margin: 0;
    aspect-ratio: 3/1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.item:nth-child(even){
    background: lightgrey;
}

.item:last-child{
    margin: 0 0 4.5rem 0;
}

.h2{
    margin: 0;
    position: relative;
}