.container{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    flex-wrap: wrap;
}

.inner{
    position: relative;
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 100%;
}

.inner p{
    width: 100%;
}

.h2{
    margin: 0;
    position: relative;
}