.container {
  position: relative;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 2rem;
  row-gap: 4rem;
}

.item{
  position: relative;
  background: var(--containerBackground);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  box-shadow: var(--containerBoxShadow);
  padding: 0;
  border-radius: 0;
}

.header{

  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.title{
  position: relative;
  width: 100%;
  font-size: 1.25rem;
  color: black;
  font-weight: bolder;
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
}

.name{
  position: relative;
  width: 100%;
  font-size: 1rem;
  color: black;
  padding: 0.5rem 0;
}

.info{
  position: relative;
  width: 100%;
  padding: 1rem;
}

.address{
  position: relative;
  width: 100%;
}

.contact{
  position: relative;
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
}