.container {
  position: relative;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--defaultContainerPadding);
}

.item{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  box-shadow: var(--containerBoxShadow);
  padding: 0;
}

.header{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: black;
  color: var(--bodyBackground);
  margin: 0;
}

.title{
  position: relative;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bolder;
  padding: var(--defaultContainerPadding);
}

.name{
  position: relative;
  width: 100%;
  font-size: 1rem;
  color: var(--fontColor);
  padding: var(--defaultContainerPadding);
}

.details{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: var(--containerBackground)!important;
}

.info{
  position: relative;
  width: 100%;
  padding: var(--defaultContainerPadding);
  background: var(--containerBackground)!important;
}

.address{
  position: relative;
  width: 100%;
}

.contact{
  position: relative;
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.iconRow{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--defaultContainerPadding);
}

.trigger{
  position: relative;
  background: var(--archiveButtonColor);
  color: white;
}